<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globaltester.testspecification.export.secunet"
         name="My GlobalTester test specification export data"
         point="org.globaltester.base.document.export.exportData">
      <exportData
            description="Export test specification as a GlobalTester OpenDocument Format"
            name="GlobalTester"
            sourceZip="oosources.zip"
            stylesheet="testspec_OO.xsl"
            validator="org.globaltester.testspecification.export.secunet.Validator">
      </exportData>
      <customData
            defaultValue="My document title"
            enabled="true"
            key="document.title"
            text="Title">
      </customData>
      <customData
            defaultValue="My document subtitle"
            enabled="true"
            key="document.subtitle"
            text="Subtitle">
      </customData>
      <customData
            defaultValue="My company name"
            enabled="true"
            key="company.name"
            text="Name">
      </customData>
      <customData
            defaultValue="My company address 1"
            enabled="true"
            key="company.address1"
            text="Address">
      </customData>
      <customData
            defaultValue="My company address 2"
            enabled="true"
            key="company.address2"
            text="Address">
      </customData>
      <customData
            defaultValue="My company telephone"
            enabled="true"
            key="company.tel"
            text="Telephone">
      </customData>
      <customData
            defaultValue="My company e-mail"
            enabled="true"
            key="company.mail"
            text="Mail">
      </customData>
      <customData
            defaultValue="My company www"
            enabled="true"
            key="company.www"
            text="Internet">
      </customData>
      <customData
            enabled="false"
            key="year"
            text="Year">
      </customData>
   </extension>
</plugin>
