<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globaltester.testspecification.export.secunet"
         name="secunet GlobalTester export data"
         point="org.globaltester.base.document.export.exportData">
      <exportData
            description="Export test specification as a GlobalTester OpenDocument Format"
            name="GlobalTester"
            sourceZip="oosources.zip"
            stylesheet="testspec_OO.xsl"
            validator="org.globaltester.testspecification.export.secunet.Validator">
      </exportData>
      <customData
            defaultValue="GlobalTester"
            enabled="true"
            key="document.title"
            text="Title">
      </customData>
      <customData
            defaultValue="Test Specification"
            enabled="true"
            key="document.subtitle"
            text="Subtitle">
      </customData>
      <customData
            defaultValue="secunet Security Networks AG"
            enabled="true"
            key="company.name"
            text="Name">
      </customData>
      <customData
            defaultValue="Kurfürstenstraße 58"
            enabled="true"
            key="company.address1"
            text="Address">
      </customData>
      <customData
            defaultValue="45138 Essen, Germany"
            enabled="true"
            key="company.address2"
            text="Address">
      </customData>
      <customData
            defaultValue="+49 (0) 201 5454-0"
            enabled="true"
            key="company.tel"
            text="Telephone">
      </customData>
      <customData
            defaultValue="info@secunet.com "
            enabled="true"
            key="company.mail"
            text="Mail">
      </customData>
      <customData
            defaultValue="http://www.globaltester.org"
            enabled="true"
            key="company.www"
            text="Internet">
      </customData>
      <customData
            enabled="false"
            key="year"
            text="Year">
      </customData>
   </extension>
</plugin>
